:root {
    /* colors */
    --clr-extra-light-gray: 0, 0%, 95%;
    --clr-dark: 0, 0%, 14%;
    --clr-blue: 211, 100%, 54%;
    --ff-roboto: 'Roboto', sans-serif;;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* Flexbox */

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* margins */
.ml-2 {
    margin-left: 1rem;
}

/* padding */
.pl-3{
    padding-left: 1.5rem;
}

img,
picture{
    max-width: 100%;
    display:block;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: var(--ff-roboto);
    font-size: 1.8rem;
    margin: 0;
}

.container {
    max-width: min(90vw,120rem);
    margin-inline: auto;
    padding-inline: 1rem;
    padding-bottom: 0.8rem;
    
    
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    padding: 1rem 2rem;
    border-bottom: 0.5rem solid rgb(68, 68, 68);
    margin-bottom: 0.5rem;
}

.input-box {
    position: relative;
    min-width: min(30rem,100%);
    height: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
display: none; 
}

#inptSearch {
    border-radius: 10px;
    border: 5px solid hsl(var(--clr-blue));
    position: relative;
    height: 100%;
    width: 100%;
    font-size: inherit;
    padding: 0 10rem 0 1rem;
}

#inptSearch:focus {
    outline: none;
    box-shadow: 0 0 20px hsl(var(--clr-blue));
}

.icon {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.search-icon,
.close-icon{
    position: absolute;
    top: 17%;
    border-radius: 10px;
    border: none;
}
.search-icon {
    right:10px;
}
.close-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 80px;
}

.close-icon.hide{
    display: none;
}

.search-icon:hover,
.close-icon:hover{
    background-color: rgb(193, 193, 193);
    cursor: pointer;
    transition: .3s;
}

.input-num {
    display: flex;
    align-items: center;
    border: 1px solid hsl(var(--clr-blue));
    border-radius: 3em;
    margin-left: 1rem;
}

.input-num > svg {
    cursor: pointer;
}

input[type="number"]{
    max-width: 3rem;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type="number"]{
    font-size: 2rem;
}

input[type="number"]:focus{
    outline: none;
}

.grid-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}

.picture-card {
    aspect-ratio: 1 / 1;
}

.picture-class {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

footer{
    container-type:inline-size;
    height: 5cqi;
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-extra-light-gray));
    font-size: 2cqi;
    padding: 1cqi 2cqi;
    margin-top: auto;
    margin-inline: clamp(0.3rem,1rem + 1vw,1.5rem);
}
footer a {
    text-decoration: none;
    color: inherit;
}

.course-logo {
    background-color: white;
    width:10cqi;
}
@media (max-width: 60rem) {
    .search-container {
        flex-direction: column;
        height: 11rem;
        gap:0.5rem;
        padding: 0.5rem;
    }
}
